version: '3.9'

services:
  web:
    build:
    image: nginx/nging:latest
        ports:
      - "8000:8000"
      volumes:
      - .:/app
        environment:
      - FLASK_ENV=development

    restart: always




